body {
  font-family: Arial, sans-serif;
  background: rgba(0,0,0,0.3);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.popup h2 {
  color: #e84118;
  margin-bottom: 1rem;
}

.popup p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
}


.buttons {
  display: flex;
  justify-content: space-evenly;
}

.yes, .no {
  text-decoration: none;
  color: white;
  padding: 0.6rem 1.5rem;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

.yes {
  background: #e84118;
}

.no {
  background: #44bd32;
}

.yes:hover {
  background: #c23616;
}

.no:hover {
  background: #4cd137;
}
