body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #2b3a67;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

input,
select,
button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input,
select {
  flex: 1;
}

button {
  cursor: pointer;
  background: #3e414d;
  color: white;
  border: none;
  transition: background 0.3s;
}

button:hover {
  background: #4056a1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}

th {
  background: #5f6063;
  color: white;
}

.action-btn {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.edit {
  background: #f4b400;
}

.delete {
  background: #d9534f;
}
.edit:hover {
  background: #e2a200;
}
.delete:hover {
  background: #c9302c;
}
.success-message {
  color: green;
  margin-bottom: 15px;
}