
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #ecf0f1;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.profile-container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    width: 380px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

hr {
    margin: 20px 0;
    border: 0.5px solid #ddd;
}

/* BUTTON */
.modify-btn {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
}

.modify-btn:hover {
    background-color: #2ecc71;
}

/* BACK LINK */
.back-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
}

.back-link:hover {
    color: #1abc9c;
}
